:root {
  --title-color: #0C0C0E;
  --descr-fav-color: #000;
  --header-bg-color: #0C0C0E;
  --title-main-bg-color: #0C0C0E;
  --text-nav-color: #fff;
  --hero-title-color: #fff;
  --bottom-line-color: #0C0C0E;
  --descr-color: #000;
  --pagination-active-bullet-color: #BB945F;
  --pagination-bullet-color: #0C0C0E;
  --circle-border-color: #000;
  --favorit-card-border-collor: #000;
  --favorit-card-text-color: #000;
  --favorit-card-line-color: #BB945F;
  --favorit-border-btn: #0C0C0E;

}

/*GLOB*/
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 20px;
  padding: 0;
}

.title {
  position: relative;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
  font-family: forum;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 0;
  margin: 0 0 20px 0;
}

.title::before {
  content: '';
  position: absolute;
  width: 50px;
  border-bottom: 1px solid var(--bottom-line-color);
  bottom: -21px;
}

.indent-section {
  padding-top: 20px;
  margin-bottom: 40px;
}

.btn-reset {
  padding: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.descr-fav {
  color: var(--descr-fav-color);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.flex {
  display: flex;
}

/*HEADER*/
.header__wrapper {
  background-color: var(--header-bg-color);
}

.header__logo {
  flex-shrink: 0;
}

.header {
  min-height: 90px;
  align-items: center;
  justify-content: space-between;
}

.nav__wrapper {
  min-width: 1000px;
  justify-content: end;
}

.nav__list {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  color: var(--text-nav-color);
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

/*HERO*/
.hero {
  background-image: url(../img/Welcome.png);
  background-repeat: no-repeat;
  min-height: 600px;
  position: relative;
}

.title__wrapper {
  width: 600px;
  height: 220px;
  background-color: var(--title-main-bg-color);
  position: absolute;
  top: 37%;
  left: 0;
}

.hero__title {
  color: var(--hero-title-color);
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  padding: 35px 40px;
}

/*ABOUT*/
.about__descr {
  margin: 0;
  padding: 40px 0 0 0;
  align-items: center;
  justify-content: center;
  color: var(--descr-color);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.about__swiper {
  padding-top: 20px;
  padding-bottom: 60px;
}

.about__swiper_wrapper {
  max-height: 560px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--pagination-bullet-color);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--pagination-active-bullet-color);
}

/*FAVORITES*/
.favorites__tabs_wrapper {
  padding-top: 40px;
}

.favorites__tabs_descr {
  color: var(--descr-color);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 40px 0;
}

.favorit__tab:not(:last-child) {
  margin: 0 88px 0 0;
}

.favorit__tab {
  align-items: end;
  cursor: pointer;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  color: var(--descr-color);
}

.favorit__tab.active {
  font-weight: 700;
}

.favorit__tab.active {
  cursor: default;
}

.favorits__circle {
  position: relative;
  width: 17px;
  height: 17px;
  border: 2px solid var(--circle-border-color);
  border-radius: 50%;
  margin: 0 20px 0 0;
}

.favorit__content {
  display: none
}

.favorit__content.active {
  display: block;
}

.favorit__tab.active .favorits__circle::after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--circle-border-color);
  border-radius: 50%;
}

.favorits__contents {
  padding: 40px 0 0 0;
}

.favorit__card_wrapper {
  flex-wrap: wrap;
}

.favorit__card {
  width: 550px;
  height: 555px;
  border: 1px solid var(--favorit-card-border-collor);
  position: relative;
}

.favorit__card:nth-child(odd) {
  margin-right: 260px;
}

.favorit__card:nth-child(-n + 2) {
  margin-bottom: 40px;
}

.favorit__card_content {
  padding: 15px 175px 60px 20px;
}

.favorit__card_picks {
  position: relative;
  color: var(--favorit-card-text-color);
  font-family: Forum;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
}

.favorit__card_picks::before {
  content: '';
  position: absolute;
  width: 60px;
  border-bottom: 1px solid var(--favorit-card-line-color);
  bottom: 0;
}

.favorit__card_content {
  padding: 15px 171px 15px 20px;
  font-family: Inter;
  color: var(--favorit-card-text-color);
}

.favorit__card_title {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0 0 0;
  flex-wrap: nowrap;
}

.favorit__card_author {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
}

.favorit__card_descr {
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0 0 15px 0;
}

.favorit__card_btn {
  position: absolute;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 8px 26px;
  border: 1px solid var(--favorit-border-btn);
  border-radius: 2px;
  bottom: 15px;
}

.favorit__card_img {
  position: absolute;
  top: 46%;
  right: -7%;
}
